/*                test */
/*section1 = h825px
section2 h615px
section3 h605px
footer h 205px


color :

butto1 sect1 rgb(43.63.72)
button 2 sec 2 rgb(39.174.97)
button 3 sec3 rgb(white)
sect*/

h1, ul, li{
    display: inline-block;

}
h1{
    color: rgb(43,63,72);
    font-weight: bold;
    font-size: 2.5em;
    padding-top: 1em;
    padding-left: 2em;
    padding-right: 5em;
}
a{
    text-decoration: none;
    color: rgb(43,63,72);
}
ul{
    /* margin-left: 20%; */



}
/*-----------------------Nav---------------*/
nav{
    margin:auto;
    max-width: 1000px;
}
nav li{
    margin-right: 2em;
    text-transform: uppercase;
}
.lol{
    color: rgb(39, 174, 97);
}
header, main, footer{
    width:100%;
    /* margin: auto;
    padding: 10px 137.5px;
    box-sizing: border-box; */
    font-family: 'News Cycle', sans-serif;
}
div, article{
    max-width: 1000px;
    margin: auto;

}


/*-----------------------Header---------------*/
header{
    height: 10em;
    background-color: white;

    }
    /*-----------------------Main---------------*/

    section{
        text-align: center;
        padding-top: 5%;

    }
    .button{
        display:inline-block;
        text-transform: uppercase;
        font-size: 1.5em;
        line-height: 4em;
        /* height: 6%; */
        width: 15em;
        border-radius: 1rem;
        border: none;
        margin-top: 10%;
        margin-bottom: 10%;
    }

.part01{
    background-image: url("../img/banner.png");
    background-color: rgb(39, 174, 97);
    background-size: 100%;
    /* height: 825px; */
    color: white;
}
.part01 img{
    border-radius: 10em;
    /* height: 160px; */
    margin: 2em;

}
.part01 .button{
    background-color: rgb(43,63,72);
    color : white;
}
h2{
    font-size: 4em;
    font-weight: bold;

}

h3{
    font-size: 1.6em;
}

p{
    font-size: 1.2em;
}


.part02{
    /* height: 615px; */
    background-color: white;
    color: #656565;
}
.part02 h2{
    color: rgb(43,63,72);
}
.part02 h3, .part02 p,{
    color: #656565;
}
.part02 .button{
    background-color: rgb(39, 174, 97);
    color : white;
}
.part03{
    /* height: 605px; */
    background-color: rgb(39, 174, 97);
    color: white;
}
.part03 h3{
    opacity: 0.5;
}
.part03 .button{
    background-color: white;
    color: rgb(39, 174, 97);
}
/*-----------------------Footer---------------*/

footer{
    background-color: white;
    text-align: center;
    /* height: 205px; */
    text-transform: uppercase;
    color: #656565;
    padding: 6em 0;
}
footer p{
    display: inline-block;
    letter-spacing: 0.2em;
    font-size: 1em;


}
