/*                test */
/*section1 = h825px
section2 h615px
section3 h605px
footer h 205px


color :

butto1 sect1 rgb(43.63.72)
button 2 sec 2 rgb(39.174.97)
button 3 sec3 rgb(white)
sect*/

h1, nav, li{
    display: inline-block;

}
h1{
    color: rgb(43,63,72);
    font-weight: bold;
    font-size: 30px;
}
a{
    text-decoration: none;
    color: rgb(43,63,72);
}
/*-----------------------Nav---------------*/
nav{
    margin-left: 300px;
}
nav li{
    margin-right: 42px;
    text-transform: uppercase;
}
.lol{
    color: rgb(39, 174, 97);
}
header, main, footer{
    width:100%;
    /* margin: auto;
    padding: 10px 137.5px;
    box-sizing: border-box; */
    font-family: 'News Cycle', sans-serif;
}
nav, article{
    width: 1000px;
    margin: auto;

}


/*-----------------------Header---------------*/
header{
    height: 100px;
    background-color: white;

    }
    /*-----------------------Main---------------*/
    main{



    }
    section{
        text-align: center;

    }
    button{
        text-transform: uppercase;
        font-size: 13px;
        height: 70px;
        width: 265px;
        border-radius: 10px;
        border: none;
        margin-top: 75px;
    }

.part01{
    background-image: url("../img/banner.png");
    background-color: rgb(39, 174, 97);
    background-size: cover;
    height: 825px;
    color: white;
}
.part01 img{
    border-radius: 10em;
    height: 160px;
    margin: 120px 20px 0px;

}
.part01 button{
    background-color: rgb(43,63,72);
    color : white;
}
h2{
    font-size: 50px;
    font-weight: bold;

}

h3{
    font-size: 22px;
}

p{
    font-size: 16px;
}


.part02{
    height: 615px;
    background-color: white;
}
.part02 h2{
    color: rgb(43,63,72);
}
.part02 h3, .part02 p,{
    color: #656565;
}
.part02 button{
    background-color: rgb(39, 174, 97);
    color : white;
}
.part03{
    height: 605px;
    background-color: rgb(39, 174, 97);
    color: white;
}
.part03 h3{
    opacity: 0.5;
}
.part03 button{
    background-color: white;
    color: rgb(39, 174, 97);
}
/*-----------------------Footer---------------*/

footer{
    background-color: white;
    text-align: center;
    height: 205px;
    text-transform: uppercase;
    color: #656565;
    padding: 90px 0;
}
footer p{
    display: inline-block;
    letter-spacing: 0.2em;


}
