
h1, nav, li{
    display: inline-block;
}
/*-----------------------Header---------------*/
header{
    width:1275px;
    height: 100px;
    margin: auto;
    padding: 10px 137.5px;
    box-sizing: border-box;
    }
    /*-----------------------Main---------------*/
.Part01{
    background-image: url("../img/banner.png");
    background-color: rgb(39, 174, 97);
}

/*section1 = h825px
section2 h615px
section3 h605px
footer h 205px


color :

butto1 sect1 rgb(43.63.72)
button 2 sec 2 rgb(39.174.97)
button 3 sec3 rgb(white)
sect

/*-----------------------FIn Header---------------*/


main{

    width:1275px;
    height: 2045px;
    margin: auto;
    padding: 10px 137.5px;
    box-sizing: border-box;
}





/*-----------------------Fin Main---------------*/

/*-----------------------Footer---------------*/

footer{
    width:1275px;
    height: 205px;
    margin: auto;
    padding: 10px 137.5px;
    box-sizing: border-box;
}





/*-----------------------Fin Footer---------------*/
